%h1 Give us your bank account

=form_tag("#", id: "bankaccount_form") do
  =label_tag(:name, "Name")
  =text_field_tag(:name)
  %br/
  =label_tag(:account_num, "Account Number")
  =text_field_tag(:account_num)
  %br/
  =label_tag(:bank_code, "Routing Number")
  =text_field_tag(:bank_code)
  %br/
  =label_tag(:account_type, "Account Type")
  =select_tag(:account_type, options_for_select([["Checking","checking"],["Savings","savings"]]))
  %br/
%button Add your payout account

=javascript_include_tag "https://js.balancedpayments.com/v1/balanced.js", "payments/bankaccount"
%script balanced.init('${/v1/marketplaces/TEST-MPv0uxteFANO0h9xY5c6Lrq}');
