#page-heading
  .page-header
    .container
      .row.home
        .span12
          %h3 Some nice stuff.
  .container
    .arrow-down
%hr.hr-spacer.space35
#blog
  .container
    .row-fluid
      .span6.offset3
        .blog-list
          .blog-post
            = render partial: "form"