= form_for [@project, @donation] do |f|
  %h3 give hours
  = f.text_field :hours, {min: 0, step: 1, class: "span6"}
  %h3 give money
  = f.text_field :dollar_amount, {min: 0, step: 1, class: "span6"}
  %br
  = f.submit "contribute", class: "btn btn-lrg"
