- if flash[:notice]
  %h5= flash[:notice]

%table{ class: "donations" }
  %tr
    %th Owner
    %th Hours
    %th Dollars
  - @donations.each do |donation|
    %tr
      %td= donation.user.fb_nickname
      %td= donation.hours.to_s
      %td= "$" + donation.dollar_amount.to_s
