#page-heading
  .page-header
    .container
      .row.home
        .span12
          %h4.pull-right The power to do good in your neighborhood today.
  .container
    .arrow-down
%hr.hr-spacer.space35
#blog
  .container
    .row-fluid
      .span6.offset3
        .blog-list
          .blog-post
            = render partial: "form"
