#page-heading
  .page-header
    .container
      .row.home
        .span12
          %h1 Start. Commit. Give. 
        .span6
          %h2 Getting involved is easy. 
          %h3 Browse through projects and find one that you are passionate about. Sign up to give time or money or both that project. 
          %br
          %h2 But what if you don't find a project that you are passionate about?
          %h3 Create one. Find a local problem you're passionate about solving. We make creating and sharing a project easy. 
          %br
          %h2 It's time we take ownership and make America a better place. 
          .home-btns
            %a.btn{:href => "/projects/new"}
              %i.icon-plus>
              Create A Project
            %a.btn{:href => "/projects#trending-projects"}
              %i.icon-plus>
              View Projects
        .span6
          / %img{:alt => "", :src => "assets/img/park_bench.jpg"}/
  .home-cta
    .container
      .arrow-down
      .home-cta-inner.text-center
        
